UID=
GID=
DOMAIN=
EMAIL=
TELEGRAM_ID=
TELEGRAM_TOKEN=
SEARXNG_BASE_URL=
SEARXNG_SECRET=
OPENAI_BASE_URL=
HA_API_ACCESS_TOKEN=

LITELLM_MASTER_KEY=
LITELLM_SALT_KEY=
POSTGRES_PASSWORD=

HERMES_DASHBOARD_PASSWORD_MITHRAS=
HERMES_DASHBOARD_SECRET_MITHRAS=
HERMES_DASHBOARD_PASSWORD_DINA=
HERMES_DASHBOARD_SECRET_DINA=
