UID=
GID=
DOMAIN=
EMAIL=
DUCKDNS_SUBDOMAIN=
DUCKDNS_TOKEN=
TELEGRAM_ID=
TELEGRAM_TOKEN=
SEARXNG_BASE_URL=
SEARXNG_SECRET=
OPENAI_BASE_URL=
HA_API_ACCESS_TOKEN=

LITELLM_MASTER_KEY=
LITELLM_SALT_KEY=
POSTGRES_PASSWORD=
